.layout {
  min-height: 100vh;
  background-image: linear-gradient(to left bottom, #067cd4, #0088d6, #0093d6, #009dd4, #00a6d1, #00aad1, #00afd1, #00b3d0, #00b4d4, #00b5d7, #00b5db, #00b6de);
  .main {
    transition: all 0.3s ease-in;
    &.active {
      transform: translateX(352px);
    }
  }
}