.layout {
  min-height: 100vh;
  background: linear-gradient(120.56deg, rgba(75, 82, 104, 0.4) -8.44%, rgba(255, 255, 255, 0) 105.14%), #161C2C;
  .main {
    transition: all 0.3s ease-in;
    &.active {
      transform: translateX(352px);
    }
  }
}