@import 'hoc/Layout/layout';
@import 'components/Sidebar/sidevar';
@import 'components/Header/header';
@import 'components/Auth/auth';
@import 'components/TaskList/taskList';
@import 'components/Task/task';
@import 'components/CreateTask/createTask';
@import 'components/Scrum/scrum';
@import 'components/UI/Input/input';
@import 'components/UI/Button/button';
@import 'components/UI/Select/select';
@import 'components/UI/Loader/loader.css';


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.uk-container {
  max-width: 100%;
  padding: 20px 40px;
}

