@import 'hoc/Layout/layout';
@import 'fonts/fonts';
@import 'components/Sidebar/sidevar';
@import 'components/Header/header';
@import 'components/Auth/auth';
@import 'components/TaskList/taskList';
@import 'components/Task/task';
@import 'components/Statistic/statistic';
@import 'components/CreateTask/createTask';
@import 'components/Scrum/scrum';
@import 'components/Scrum/components/tasksList';
@import 'components/UI/Input/input';
@import 'components/UI/Button/button';
@import 'components/UI/Select/select';
@import 'components/UI/Loader/loader.css';


body {
  margin: 0;
  font-family: 'Avenir Next Cyr Light';
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.uk-container {
  max-width: 100%;
  padding: 20px 40px;
}

