.wrapper-task-list {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: scroll;
  position: initial;
  h2 {
    color: #fff;
    font-weight: 500;
  }
  .task-table {
    th, td {
      color: #fff;
      font-weight: 500;
    }
    .st-th {
      span {
        line-height: 30px;
        color: rgba(255, 255, 255, 0.7);
      }
    }
    .sort-th {
      display: flex;
      align-items: center;
      color: rgba(255, 255, 255, 0.7);
      justify-content: center;
      span {
        padding: 5px;
        margin-left: 10px;
        color: #fff;
        border-radius: 5px;
        transition: background-color 0.3s ease-in;
        &:hover{
          background-color: rgba(255, 255, 255, 0.4);
          cursor: pointer;
        }
      }
    }

    tbody {
      tr {
        .settings {
          &-dropdown {
            padding: 10px;
            border-radius: 5px;
            transition: background-color 0.3s ease-in;
            font-weight: 500;
            width: 18px;
            height: 18px;
            display: flex;
            align-items: center;
            justify-content: center;
            &:hover {
              background-color: rgba(255,255,255,0.4);
              cursor: pointer;
            }
          }
        }
        .wrapper-dropdown {
          display: flex;
          align-items: center;
          justify-content: space-between;
          a {
            color: #fff;
          }
        }
      }
    }
  }

  .status,
  .priority {
    padding: 7px 10px;
    border-radius: 5px;
    &-1 {
      background-color: tomato;
    }
    &-2 {
      background-color: #ff9106;
    }
    &-3 {
      background-color: #079300;
    }
  }

  table {
    width: 100%;
    tr {
      border-bottom: 1px solid #fff !important;
    }
    td, th {
      text-align: center;
      padding: 15px;
    }
  }
}
